:root {
  --root-font-size: 1rem;
  --bg: #fafafa;
  --text-color: #333;
  --controls-bg: #f0f0f0;
  --controls-box-shadow: 0px 0.08333rem 0.41667rem rgba(0, 0, 0, 0.1);
  --controls-border-radius: 0.33333rem;
  --button-bg: #4CAF50;
  --button-color: white;
  --button-border-radius: 0.33333rem;
  --button-hover-bg: #45a049;
}

html,
body,
nav,
ul,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-align: center;
}


canvas {
  border: 2px solid black;
}

html,
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--root-font-size);
  background: var(--bg);
  height: 100%;
  width: 100%;
  /* This will enable the scrollbar when the content goes off screen */
  overflow: auto;
  text-align: center;
  position: relative;
}


.controls input[type="text"] {
  margin-right: 10px;
  width: 50px;
  text-align: center;
}

*,
body,
button,
input,
select,
textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
}

section {
  margin-bottom: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.controls-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items:start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #0B3948;
}





.graph-controls>*,
.group-controls>* {
  display: block;
}

.top-controls{
  display: flex;
  width: 100%;
  height: 75px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #DFCC74;
  align-items: center;
  padding: 0px;
}

#title{
  font-family: "Julius Sans One", sans-serif;
  text-decoration: none;
  margin-left: 25px;
  color: #75485E;
  font-size: 2rem;
}

#title:hover{
  color: white;
  transition: 0.2s;
}

#right_side{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#right_side a{
  text-decoration: none;
  font-size: 1rem;
  margin: 25px;
  color: #75485E;
}

#right_side a:hover{
  color: white;
  transition: 0.2s;
}

button{
  background-color: #75485E;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  margin: 0px 10px;
  padding: 8px;
  text-decoration: none;
  font-size: 1rem;
  
}

button:hover{
  cursor: pointer;
}


@media screen and (max-width: 68rem) {

  .container {
    display: block;
  }

  .controls-wrapper {
    display: block;
  }

  .graph-controls>div {
    margin-bottom: 10px;
  }

  .graph-controls>div>* {
    display: block;
    margin-bottom: 5px;
  }


  .top-controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

}


#myCanvas{
  border: none;
  background-color: white;
  border-radius: 0.5rem;
}

#row_input,
#col_input {
  width: 50px;
  margin-left: 5px;

}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#history {
  margin-top: 20px;
  padding: 20px 20px;
  background-color: #D9DBF1;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px #000;
}

#historyList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #000;
}

#historyList li {
  padding: 0.5rem;
  cursor: pointer;
}

#historyList li.selected {
  background-color: #e6e6e6;
}

#relationsContainer {
  padding: 1rem;
  border: 1px solid #000;
  margin-bottom: 1rem;
}

#relationsContainer button{
  background-color: #51A3A3;
}

#relationsList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  height: 100px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #000;
}

#relationsList li {
  padding: 0.5rem;
}


#relationsList li.selected {
  background-color: #e6e6e6;
}

#play_button {
  padding: 0;
  margin-right: 25px;
  width: 100px; 
  height: 36px;
  background: none;
  border-radius: 0.5rem;
  position: relative;
  margin-left: 17px;
  background-color: #51A3A3;
  color: white;
  transition: 0.2s;
}

#play_button:hover{
  width: 125px;
}

.left_side_menus{
  display: flex;
  flex-direction: column;
}

.bottom_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding: 20px 20px;
  background-color: #D9DBF1;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px #000;
}

.bottom_buttons button{
  background-color: #51A3A3;
}

.graph-controls, .group-controls, #editing_group, #relationsContainer{
  margin-top: 20px;
  padding: 20px 20px;
  background-color: #D9DBF1;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px #000;
}

.graph-controls button{
  background-color: #51A3A3;
  transition: 0.2s;
}

.graph-controls button:hover{
  background-color: #335f5f;
}

#groupcontrols button{
  transition: 0.2s;
}

#groupcontrols button:hover{
  background-color: rgb(59, 37, 49)
}

.line, .input-wrapper{
  margin-bottom: 10px;
}

.inner_button_menu{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input_size{
  width: 40px;
}

#node_gap{
  margin-top: 10px;
}

.sagecell_sessionOutput{
  background: white;
}


.sagecell_poweredBy, .sagecell_poweredBy a{
  color: white;
}

#sagecell button{
  color: #75485E;
  background-color: #DFCC74;
  border: none;
  border-radius: 0.5rem;
  padding: 8px;
  transition: 0.2s;
}

.sagecell_fullScreen{
  transition: 0.2s;
}

#sagecell button:hover{
  cursor: pointer;
  color: #75485E;
  background-color: #988b52;
}

.CodeMirror-sizer{
  height: 200px;
}

#d1 p{
  margin-top: 20px;
}

#groupTypeDisplay, #historyFont, #relationsFont{
  font-size: 18px;
  font-weight: bold;
}


