:root {
    --root-font-size: 1rem;
    --bg: #fafafa;
    --text-color: #333;
    --controls-bg: #f0f0f0;
    --controls-box-shadow: 0px 0.08333rem 0.41667rem rgba(0, 0, 0, 0.1);
    --controls-border-radius: 0.33333rem;
    --button-bg: #4CAF50;
    --button-color: white;
    --button-border-radius: 0.33333rem;
    --button-hover-bg: #45a049;
}

body{
    font-family: "Roboto", sans-serif;
    height: 100%;
    overflow: auto;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid black;
}

.controls input[type="text"] {
    margin-right: 10px;
    width: 50px;
    text-align: center;
}

section {
    margin-bottom: 10px;
    text-align: center;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  
.controls {
    background-color: var(--controls-bg);
    box-shadow: var(--controls-box-shadow);
    border-radius: var(--controls-border-radius);
    padding: 20px;
}
  
.controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.graph-controls,
.group-controls {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}


.graph-controls>*,
.group-controls>* {
  display: block;
  margin-bottom: 10px;
}

#row_input,
#col_input {
  width: 50px;
  margin-left: 5px;

}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#history {
  padding: 1rem;
  border: 1px solid #000;
  margin-bottom: 1rem;
}

#historyList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

#historyList li {
  padding: 0.5rem;
  border: 1px solid #000;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#historyList li.selected {
  background-color: #ccc;
}

#relationsContainer {
  padding: 1rem;
  border: 1px solid #000;
  margin-bottom: 1rem;
}

#relationsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

#relationsList li {
  padding: 0.5rem;
  border: 1px solid #000;
  margin-bottom: 0.5rem;
}


#relationsList li.selected {
  background-color: #ccc;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DFCC74;
    align-items: center;
    padding: 10px;
}

#title{
    font-family: "Julius Sans One", sans-serif;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 800;
    color: #75485E;
    font-size: 2rem;
}

#title:hover{
    color: white;
    transition: 0.2s;
}

#right_side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right_side a{
    text-decoration: none;
    font-size: 1rem;
    margin: 25px;
    color: #75485E;
}

#right_side a:hover{
    color: white;
    transition: 0.2s;
}

button{
    background-color: #75485E;
    color: white;
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
    margin: 4px 8px;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 1rem;
    
}

button:hover{
    cursor: pointer;
}

/*The following style and build the toggle function*/
#mode_switch {
    padding: 0;
    width: 200px; 
    height: 36px;
    background: none;
    border-radius: 0.5rem;
    position: relative;
    margin-left: 17px;
}

.toggle_track {
    position: relative;
    width: 100%;
    height: 100%;
    background: #75485E;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
}

.toggle_label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #997788;
    z-index: 2;
    pointer-events: none;
    font-size: 1rem;
}

.toggle_window {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(50% - 4px);
    height: calc(100% - 4px);
    background: #51A3A3;
    border-radius: 0.4rem;
    transition: left 0.3s ease;
    z-index: 1;
}

.toggle_window:hover{
    background: #448888;
    transition: 0.2s;
}

#mode_switch:not(.playing) .left,
#mode_switch.playing .right {
    color: white;
}

#mode_switch.playing .toggle_window {
    left: calc(50% + 2px);
}

